{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "lazygit"
brew "git-delta"
brew "fzf"
brew "tmux"
brew "asdf"
brew "borders"
brew "yabai"
brew "fd"
brew "aider"
brew "ripgrep"
brew "fx"
brew "bat"
brew "jq"
brew "glow"
brew "starship"
brew "zoxide"
brew "tree"
brew "tldr"
brew "exa"
brew "nvim"
brew "lazydocker"
brew "nnn"
brew "direnv"
brew "yazi"
cask "1password-cli"
cask "obsidian"
cask "chatgpt"
EOF
{{ end -}}
